apache-airflow==2.11.2
psycopg2-binary==2.9.11
playwright==1.46.0
robotframework==6.0.1
robotframework-seleniumlibrary==6.1.0
pyyaml==6.0.1
pendulum>=3.0.0,<4.0
setuptools>=70.1
wheel
cython
SQLAlchemy==1.4.54
requests==2.31.0
urllib3==2.1.0
charset_normalizer==3.3.0
marshmallow==3.21.1
flask-limiter==3.5.0
redis==5.0.3
apache-airflow-providers-microsoft-azure==8.0.0